$font-family: 'Open Sans';
$color-fondo: #ffffff;
$color-primario: #736032;
$dark-bg-color: #272c3b;
$dark-text-color: #2e2e2e;
$light-text-color: #e7e6e6;
$link-hover-color: lightgray;
$bg-color-secundario: #e0dbcc;
$color-parrafos: #e7e6e6;
$fondo-transparente: hsla(0, 0%, 75%, 0.2);